extends layouts/main-layout.pug

<<<<<<< HEAD
block content 
     h1 This is awesome
=======
block content    
    +createPostForm(userLoggedIn)
    .postContainer 

    +createPostModals(userLoggedIn)

block scripts
    script(src="/js/home.js") 
>>>>>>> f9931174a2be942912b86c38df3dc4172b7bbbd7
